.grantMenu {
	border: 1px solid #ccc;
	background-color: white;
	z-index: 500;
	position: fixed !important;
	display: none;
	right: 10px;
	min-width: 140px;
	width: max-content !important;
	height: max-content !important;
}

.nightmode .grantMenu {
	background-color: var(--nightmode-bg-1);
}

.accessPrivilege {
	width: 200px;
}

.sharingActions {
	width: 200px;
}

.calcWidth {
	width: calc(100% - 460px) !important;
}

.defaultCursor {
	cursor: default;
}

ul[id*='select2-access_control'] .select2-results__option[aria-selected=true],
ul[id='select2-tags_select-results'] .select2-results__option[aria-selected=true] {
	display: none;
}


/** Select 2 **/

#access_control_form .select2-container--default .select2-selection--multiple {
	border: 1px solid #d5d9e2 !important;
	border-radius: 2px !important;
}

#access_control_form .select2-dropdown {
	border: 1px solid #d5d9e2 !important;
}

div.tags span.select2-selection {
	border: 0px solid #d5d9e2 !important;
	border-bottom: 1px solid #efefef !important;
}

#access_control_form .select2-container--default .select2-selection--single .select2-selection__rendered {
	line-height: 35px !important;
}

#access_control_form .select2-container--default .select2-selection--single .select2-selection__arrow {
	height: 34px !important;
}

#access_control_form .select2-container--default .select2-selection--single {
	border: 1px solid #d5d9e2 !important;
	border-radius: 2px !important;
}

#access_control_form input.select2-search__field {
	background: transparent !important;
}

.select2-results__options::-webkit-scrollbar-thumb,
.select2-results__options::-moz-scrollbar-thumb,
.select2-results__options::-o-scrollbar-thumb,
.select2-results__options::-ms-scrollbar-thumb {
	background-clip: padding-box;
	background-color: #c1c1c1;
	border-right: 10px solid rgba(0, 0, 0, 0);
	border-top: 10px solid rgba(0, 0, 0, 0);
	border-bottom: 10px solid rgba(0, 0, 0, 0);
}

.select2-results__options::-webkit-scrollbar-button,
.select2-results__options::-moz-scrollbar-button,
.select2-results__options::-o-scrollbar-button,
.select2-results__options::-ms-scrollbar-button {
	display: none;
}

.select2-results__message {
	display: none !important;
}

.select2-results__option {
	word-break: break-all;
}

label {
	cursor: pointer;
}


input[type="radio"] {
	cursor: pointer;
}

input[data-totp]::placeholder {
	color: #5e6468;
	font-weight: 0;
	font-size: 0.8125rem;
}

.totp-panel svg {
	-webkit-transform: rotate(-90deg);
	transform: rotate(-90deg);
	display: inline-block;
}

.totp-panel [data-totp_circle] {
	stroke-dasharray: 63 63;
	stroke-dashoffset: 0;
}


#totp_settings .select2-container--default .select2-selection--single {
	border: none;
	border-bottom: 1px solid #ebedf2 !important;
}

#totp_settings .select2-container--default .select2-selection--single:hover {
	border-color: #cccccc !important;
}

.current_totp_text {
	letter-spacing: 1px;
	user-select: none;
	font-weight: bold;
	padding-left: 36px !important;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
	/* background-color: #deeefc !important; */
	color: #3e475a !important;
}

.folder-path {
	font-size: 11px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	display: block;
	line-height: 15px;
	color: #4b4b4b;
}

.folder-path i {
	font-size: 9px !important;
	color: #888888 !important;
}

.add-password-slider .select2-results_repository {
	padding: 4px;
}

input::placeholder {
	color: rgb(0, 0, 0, 0.5);
}

.swal-button:hover {
	opacity: 1;
}

.tooltip_arrow {
	width: 0;
	height: 0px;
	border-left: 7px solid transparent;
	border-right: 7px solid transparent;
	border-top: 0px solid rgb(0, 0, 0, 0.8);
	border-bottom: 8px solid rgba(0, 0, 0, 0.8);
	position: absolute;
	top: 0px;
	margin: auto;
	left: 0;
	z-index: 100000000;
}

label {
	user-select: none;
}

html,
body {
	height: 100vh;
	overflow: hidden;
}

.mainContainerPanel {
	height: calc(100vh - 48px);
	width: 100vw;
	overflow: hidden;
}

#secret_list_container,
#trash_list_container {
	height: calc(100% - 100px);
}

#secrets_list {
	padding-bottom: 15px !important;
	padding-top: 2px !important;
	height: calc(100vh - 160px);
	overflow: auto;
}

#folders_list_container {
	position: relative;
}

#folders_list {
	height: calc(100vh - 210px);
	overflow: auto;
}

#settings_list {
	height: calc(100vh - 48px);
}

#settingsTabContent>div {
	overflow: auto;
	height: calc(100vh - 120px);
	padding-bottom: 20px;
}

.app-settings-panel-inner:last-of-type {
	margin-bottom: 20px;
}

/* .passwords-filter-panel {
	width: 250px !important;
	border: 1px solid rgb(204, 204, 204) !important;
} */

.swal-overlay--show-modal .swal-modal {
	animation: none !important;
}

.select2-selection__clear {
	font-size: large;
	font-weight: normal !important;
}

.select2-selection:focus,
.select2:focus {
	background-color: #fafafa !important;
}

#addPasswordForm .field-control a:focus {
	background-color: #fafafa !important;
	text-decoration: underline;
}

[data-access_control_body] {
	height: calc(100vh - 50px);
	/* overflow-y: scroll; */
}

:not(.nightmode) #access_control_form .select2-container--default .select2-selection--multiple .select2-selection__choice,
div.tags .select2-container--default .select2-selection--multiple .select2-selection__choice {
	background-color: #f4f5fa !important;
	border: 1px solid #ebedf2 !important;
	border-radius: 2px !important;
}

:not(.nightmode) .select2-container--default .select2-results__option--highlighted[aria-selected] {
	background-color: #deeefc !important;
}

.zv-tooltip {
	z-index: 99999 !important;
}

#passwords_filter_container {
	top: 136px;
	left: 629px;
}

#folders_filter_container {
	top: 133px;
	left: 445px;
}

.zv-dropdown-popup-arrow-top-left:before {
	content: "";
	width: 11px;
	height: 11px;
	position: absolute;
	background: #fff;
	transform: rotate(45deg);
	box-shadow: -1px -1px 0 0 #d6d6d6;
	top: -4px;
	left: 10px;
}

.add_password_form_additional_field {
	position: absolute;
	bottom: 80px;
	margin-left: 20px;
	z-index: 1;
}

.third-party-output {
	z-index: 103;
	top: 0px;
	height: max-content;
	width: 600px !important;
	left: 0px;
	right: 0px;
	margin: auto;
}

.table-search-panel input {
	padding-right: 25px;
}

#passwords_filter_container {
	max-height: calc(100vh - 150px);
	overflow: auto;
}

.right-side-content-panel {
	max-height: 100%;
	overflow: auto;
}

.table-search-panel.table-search-panel_temp input {
	padding-left: 30px;
	padding-right: 25px;
	width: 100%;
}

.table-search-panel.table-search-panel_temp .table-search-panel-dropdown {
	position: absolute;
	left: 3px;
}

.zvleft-label span[data-name] {
	display: block;
	overflow: hidden;
	max-width: 100%;
	text-overflow: ellipsis;
}

#show_password_filter.filter-action-icon-list-selected {
	z-index: 101;
}

#generator_mode_options {
	max-height: 135px;
	overflow: auto;
}

#generator_history_div {
	z-index: 12;
}

[data-out="history_list"] {
	max-height: 280px;
}

.navLHSPanel {
	flex-shrink: 0;
}

#passwords_nav_panel {
	flex: 0 0 240px;
}

#categoryItems {
	max-height: calc(100vh - 330px);
	overflow: auto;
}

#output {
	position: absolute;
	height: 100vh;
	overflow: hidden;
}

#passwords_content {
	height: calc(100vh - 48px);
	max-width: calc(100vw - 312px);
}

.zv-password-custom-field .zvcenter-label,
.zv-password-custom-field .zvright-label {
	position: relative;
	top: 10px;
}

.list-view-passwords-list .card-view-password-list-inner .card-view-list-right .card-view-password-name,
.list-view-passwords-list .card-view-password-list-inner .card-view-list-right .card-view-password-description {
	width: calc(100% - 200px);
}

.left-nav-panel {
	overflow: auto;
}